# AviaBit Credentials & Settings (Шаблон настроек)
AVIABIT_USERNAME=your_username
AVIABIT_PASSWORD=your_password
AVIABIT_BASE_URL_NORDWIND=https://aviabit.nordwindairlines.ru
AVIABIT_BASE_URL_IKAR=https://aviabit.ikar.aero
PORT=8000
